body {
    font-family: Arial Narrow;
    padding: 0px;
    min-width: 670px;
} 

#header {
    background: #444;
    color: #fff;
    padding: 40px;
    height: 80px;
}

#headtext {
    float: right;
    position: relative;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    line-height: 0.5em;
    border-left: 3px solid white;
    height: 100%;
}

#left {
    left: 0;
    position: absolute;
    height: 100%;
    min-height: 850px;
    width: 160px;
    padding: 20px;
    background-color: #ddd;
}

#left .heading {
    border-bottom: 3px solid #444;
    padding-right: 0px;
}

#contact {
    padding-bottom: 10px;
}

ul#contact {
    padding-bottom: 10px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.contact {
    height: 50px;
    padding-left: 40px;
    padding-top: 3px;
    padding-bottom:0px;
}

li#website {
    background: url('https://api.iconify.design/uil:desktop.svg?height=24') no-repeat left top;
}

li#email {
    background: url('https://api.iconify.design/uil:envelope.svg?height=24') no-repeat left top;
}

li#address {
    height: 55px;
    padding-top: 0px;
    background: url('https://api.iconify.design/uil:map-marker.svg?height=24') no-repeat left top;
}

li#phone {
    background: url('https://api.iconify.design/uil:outgoing-call.svg?height=24') no-repeat left top;
}

#body {
    padding-left: 240px;
    padding-right: 30px;
    position: absolute;
    height: auto;
}

#content {
    padding-top: 20px;
    font-family: Geneva;
}
