body {
    font-family: Helvetica;
    padding: 0px;
} 

#header {
    background: #444;
    color: #fff;
    padding: 40px;
    height: 100px;
    text-align: right;
}

#headtext {
    float: right;
    position: relative;
    text-align: left;
    padding-left: 10px;
    line-height: 0.5em;
    border-left: 2px solid white;
    height: 100%;
}

#left {
    left: 0;
    position: absolute;
    //height: 100%;
    width: 160px;
    padding: 20px;
    background-color: #aaa;
}

#contact {
    padding-bottom: 10px;
}

#contact p {
    line-height: 0.5em;
}

#address {
    left: -10px;
    padding: 5px;
}

#address p {
    line-height: 0.5em;
}

#body {
    padding-left: 220px;
    position: absolute;
    height: auto;
    width: 80%;
}
